version={{ new_version }}
release={{ release }}
git_url={{ git_url }}
branch={{ git_branch }}
commit={{ git_commit }}
build_user={{ build_user }}
build_number={{ build_number }}
build_url={{ build_url }}
build_dir={{ default_build_dir }}
release_candidate={{ release_candidate }}
timeStamp={{ current_timestamp }}
node_name= {{ node_name }}
os_name="{{ ansible_distribution }}"
os_id="{{ ansible_distribution_version }} "
os_version="{{ ansible_osversion }}"
os_id_like="{{ ansible_os_family }}"
os_version_id="{{ ansible_distribution_version }}"
